*{ 
padding: 0;
margin: 0;
box-sizing: border-box;
}

  header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
      url("../Bilder/BMW_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    font-family: "Poppins", sans-serif;
  }
  
  nav {
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }

  nav .logo {
    width: 25%;
    text-align: center;
  }
  
  nav .menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  
  nav .menu a {
    width: 25%;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  
  nav .menu a:first-child {
    color: #b4c9cc;
  }

}
  a:after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

}
  main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
  }
  
  section h1 {
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
  }
  
  section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
  }
  
  section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
  
  section .btnone {
    background: #fff;
    color: #000;
  }
  
  .btnone:hover {
    background: #0093b8;
    color: white;
  }
  
  section .btntwo {
    background: #0093b8;
    color: white;
  }
  
  .btntwo:hover {
    background: #fff;
    color: #000;
  }
  
  .change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #0093b8;
  }

  @keyframes changetext {
    0% {
      content: "Concept Cars";
    }
    20% {
      content: "Vollelektrisch";
    }
    35% {
      content: "I Modelle";
    }
    60% {
      content: "Plug-in-Hybrid";
    }
    80% {
      content: "M Perfomance";
    }
    100% {
      content: "X Modelle";
    }
  }